<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      @import url("observable:styles/index.css");
      @import url("@fontsource-variable/inter/wght.css");
      @import url("@fontsource-variable/inter/wght-italic.css");
      @import url("@fontsource-variable/source-serif-4/wght.css");
      @import url("@fontsource-variable/source-serif-4/wght-italic.css");
      @import url("@fontsource-variable/spline-sans-mono/wght.css");
      @import url("@fontsource-variable/spline-sans-mono/wght-italic.css");
    </style>
  </head>
  <body>
    <main></main>
  </body>
</html>
